{% set post = __SELF__.post %}



 <article class="post post-single">
                            <div class="post-date-wrapper">
                                <div class="post-date">
                                    <div class="day">{{ post.published_at|date('d') }}</div>
                                    <div class="month">{{ post.published_at|date('M Y') }}</div>
                                </div>
                                <div class="post-type">
                                    <i class="fa fa-font"></i>
                                </div>
                            </div>
                            <div class="post-body">
                                <h2>{{post.title}}</h2>
                                
                                <p>
                                    {{ post.content|raw }}
                                </p>
                                {% if post.featured_images.count %}
                                <div class="featured-images text-center">
                                    {% for image in post.featured_images %}
                                    <p>
                                        <img
                                            data-src="{{ image.filename }}"
                                            src="{{ image.path }}"
                                            alt="{{ image.description }}"

                                            style="max-width: 100%" />
                                        </p>
                                    {% endfor %}
                                    </div>
                                {% endif %}
                               
                            </div>
                        </article>





<p class="info">
    Posted
    {% if post.categories.count %} in
        {% for category in post.categories %}
            <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
    {% endif %}
    on {{ post.published_at|date('M d, Y') }}
</p>
