{% set posts = __SELF__.posts %}


    {% for post in posts %}
     <!-- POST - START -->
                        <article class="post">
                            <div class="post-date-wrapper">
                                <div class="post-date">
                                    <div class="day">{{ post.published_at|date('d') }}</div>
                                    <div class="month">{{ post.published_at|date('M  Y') }}</div>
                                </div>
                                <div class="post-type">
                                    <i class="fa fa-font"></i>
                                </div>
                            </div>
                            <div class="post-body">
                                <h2>{{ post.title }}</h2>
                                <p class="info">
                                    
                                    {% if post.categories.count %} in {% endif %}
                                    {% for category in post.categories %}
                                        <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                </p>
                                <p> 
                                     {% if post.excerpt %}
                                        {{ post.excerpt }}
                                    {% else %}
                                        {{ post.content_html|raw }}
                                    {% endif %}
                                    
                                </p>
                                <div class="post-info">
                                    <span>Posted by: admin</span>
                                    <a href="{{ post.url }}" class="btn btn-inverse">View More</a>
                                </div>
                            </div>
                        </article>
                        <!-- POST - END -->
           {% else %}
        <p class="no-data">{{ noPostsMessage }}<p>          
    {% endfor %}


{% if posts.lastPage > 1 %}
    <ul class="pagination">
        {% if posts.currentPage > 1 %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>
        {% endif %}

        {% for page in 1..posts.lastPage %}
            <li class="{{ posts.currentPage == page ? 'active' : null }}">
                <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if posts.lastPage > posts.currentPage %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>
        {% endif %}
    </ul>
{% endif %}