	<div class="box">
                    	
                        <!-- TEAM MEMBER - START -->   
                        <div class="team-member single">
                            

                            <div class="row">
                                <div class="col-sm-4 col-md-3">
									                                
									{{ form_open({ request: 'onTest' }) }}

									    
									     <div class="form-group">
									        <label for="userSigninLogin">Passport Number</label>
									        <input name="value" type="text" class="form-control" id="userSigninLogin" placeholder="Enter your Passport Number">
									    </div>
									    <input type="submit" value="Search"/>
                                </div>
                                {% for post in lastValue %}
                                <div class="col-sm-8 col-md-9">
                                
                                    <h2>Applicant's Name:   <label>{{post.name}}</label></h2>
                                    <ul class="list-unstyled">
                                        <li><strong>Status:</strong><span class="text-primary">{{post.status}}</span></li>
                                        <li><strong>Institution:</strong><span class="text-primary">{{post.college_name}}</span></li>
                                        <li><strong>Agent:</strong><span class="text-primary">{{post.agent_name}}</span></li>
                                        <li><strong>Contact:</strong><span class="text-primary">{{post.contact_number}}</span></li>
                                    </ul>
                                    
                                </div>

                                {% else %}
       
 								{% endfor %}

                            </div>
                        </div>
                        <!-- TEAM MEMBER - END --> 
                    </div>