<div class="form-buttons loading-indicator-container">
    <a
        href="javascript:;"
        class="btn btn-primary oc-icon-check save"
        data-request="onSave"
        data-load-indicator="<?= e(trans('backend::lang.form.saving')) ?>"
        data-hotkey="ctrl+s, cmd+s">
        <?= e(trans('backend::lang.form.save')) ?>
    </a>

    <button
        type="button"
        class="btn btn-default empty oc-icon-trash-o <?php if (!$objectPath): ?>hide<?php endif ?>"
        data-request="onDelete"
        data-request-confirm="Do you really want delete this menu?"
        data-request-success="$.oc.pagesPage.updateObjectList('menu'); $(this).trigger('close.oc.tab', [{force: true}])"
        data-control="delete-button"></button>
</div>