<div class="layout control-scrollpanel" id="pages-side-panel">
    <div class="layout-cell">
        <div class="layout-relative fix-button-container">
            <form class="layout hide" data-content-id="menus" data-object-type="menu" data-type-icon="oc-icon-sitemap" onsubmit="return false">
                <?= $this->widget->menuList->render() ?>
            </form>

            <form class="layout hide" data-content-id="content" data-object-type="content" data-type-icon="oc-icon-file-text-o" onsubmit="return false">
                <?= $this->widget->contentList->render() ?>
            </form>

          
        </div>
    </div>
</div>
