<div class="popover-head">
    <h3><?= e(trans('Edit Menu Item')) ?></h3>
    <button type="button" class="close"
        data-dismiss="popover"
        aria-hidden="true">&times;</button>
</div>
<div class="modal-body form-container">
    <form
        data-message-title-required="<?= e(trans($this->titleRequiredMessage)) ?>"
        data-message-reference-required="<?= e(trans($this->referenceRequiredMessage)) ?>"
        data-message-url-required="<?= e(trans($this->urlRequiredMessage)) ?>"
        data-message-cmsPage-required="<?= e(trans($this->cmsPageRequiredMessage)) ?>"
    >
        <?= $itemFormWidget->render() ?>
    <form>
</div>
<div class="modal-footer">
    <button
        type="button"
        class="btn btn-primary"
        data-control="apply-btn">
        <?= e(trans('backend::lang.form.apply')) ?>
    </button>
    <button
        type="button"
        class="btn btn-default"
        data-dismiss="popover">
        <?= e(trans('backend::lang.form.cancel')) ?>
    </button>
</div>