

      {{ form_ajax('onUpdate', { model: user }) }}
     <form data-request="onSignin" >
             <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle fa fa-user " type="button" data-toggle="dropdown"> {{ form_value('name') }} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                  <li class="{% if this.page.id == 'change-pass' %}active{% endif %}"><a href="{{ 'change-pass'|page }}">Change Password</a></li>
                  <li><a href="#">Profile</a></li>
                  <li><a href="#" data-request="onLogout">Logout</a></li>
              </ul>
            </div> 
       {{ form_close() }}
   





   
      