<div class="container ">
 <div class="top-nav-bar">
 
    <div class=" pull-right " >
     <form data-request="onSignin" class="form-inline ">

             <input name="login" type="text"  class="form-control " id="userSigninLogin" placeholder=" Email">
             <input name="password" type="password"  class="form-control " id="userSigninPassword" placeholder="Password">
           
             <button type="submit" class="btn btn-info pull-right">Sign in</button>
             <br>
             <label for ="remember"> Remember Me
              		<input type="checkbox" name="remember" id="remember"  class="bg-primary">
             </label>
             <label class="pull-right ">
    			<a href ="/reset-pass">Forget Password ?</a>
			</label>
        </form>
     
       

    	
        
    </div>
    
   
	</div>
	
</div>

