title = "Blog"
url = "/blog/:page?"
layout = "default"
description = "The main blog page, with all posts."
is_hidden = "0"

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = ":slug"
postsPerPage = "10"
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = "0"
categoryPage = "blog/category"
==



<div class ="row">
<div class="col-sm-9">
	{% component 'blogPosts' %}
</div>
<div class="col-md-3 ">
  
     <p class="active">Blog Catagories </p>    
    {% component 'blogCategories' %}
    </div>

</div>

