title = "Contact-Us"
url = "/contact-us"
layout = "default"
is_hidden = "0"
==

   
	
	<div class="row">
			<div class="col-sm-4 col-lg-4">
				<div class="panel">
					<div class="panel-heading">
						<h3><i class="icon-pushpin main-color"></i> Contact Us</h3>
					</div>
					<div class="panel-body">
						<address>
						<img src="{{ 'assets/images/ripon.jpg'|theme }}" width="150px" height="150px" alt="Ripon's picture" />
            			<br>	
						<strong><font color="#1E90FF">MD.RIPON MAHMUD</font></strong><br>
						Director,<br>Education Malaysia Bangladesh<br>
						Kuala Lumpur,Malaysia<br>
						<i class="fa fa-mobile-phone"></i> +60102570698<br>
						<i class="fa fa-mobile-phone"></i> +601117957961<br>
						<i class="fa fa-mobile-phone"></i> +8801767575763<br>
						<i class="fa fa-envelope"></i> edumalaysiabd@gmail.com<br>
						<i class="fa fa-envelope"></i> riponm005@gmail.com<br>
						<i class="fa fa-facebook"></i> <a href="https://www.facebook.com/profile.php?id=100005306354936">  Facebook </a><br>
						
						</address>
					</div>
				</div>
			
		
			</div>
       <div class="col-12 col-lg-8">
	  
			<div class="panel">
					<div class="panel-heading">	
			<h3 class="">
				<i class="icon-envelope main-color"></i>
				Feel free to contact us
			</h3>
			</div>
			<div class="panel-body">
			<!-- CONTACT FORM https://github.com/jonmbake/bootstrap3-contact-form -->
			
			<form role="form" id="feedbackForm">
			      <div class="form-group">
				<input type="text" class="form-control" id="name" name="name" placeholder="Name">
				<span class="help-block" style="display: none;">Please enter your name.</span>
			      </div>
			      <div class="form-group">
				<input type="email" class="form-control" id="email" name="email" placeholder="Email Address">
				<span class="help-block" style="display: none;">Please enter a valid e-mail address.</span>
			      </div>
			      <div class="form-group">
				<textarea rows="10" cols="100" class="form-control" id="message" name="message" placeholder="Message"></textarea>
				<span class="help-block" style="display: none;">Please enter a message.</span>
			      </div>
			     
			      
			     
			      <button type="submit" id="feedbackSubmit" class="btn btn-primary btn-lg" style="display: block; margin-top: 10px;">Send Feedback</button>
			    </form>
			<!-- END CONTACT FORM -->
			</div>
			</div>			
		</div>
      </div>

