title = "ESM"
url = "/"
layout = "default"
description = "Welcome to eSports Malaysia!"
is_hidden = "0"

[carousel]
id = "1"
==
<div class ="">
    
    {% component 'carousel' %}
</div>


        
<div class="row">

    <div class="col-sm-6 col-md-4">
        <div class=" text-center">
            <br />
            <img src="{{ 'assets/images/plugin-user.png'|theme }}" alt="RainLab.User" />
            <div class="caption">
                <h3>Get to know our servies</h3>
                <p>We provide all the necessary support from the very beginning until settle down in Malaysia</p>
                <br />
                <p>
                    <a href="{{ 'our-service'|page }}" class="btn btn-lg btn-info" role="button">Our Service</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="text-center">
            <br />
            <img src="{{ 'assets/images/plugin-blog.png'|theme }}" alt="RainLab.Blog" />
            <div class="caption">
                <h3>Check your Application</h3>
                <p>Get all the updates about your application through online</p>
                <br />
                <p>
                    <a href="{{ 'check-application'|page }}" class="btn btn-lg btn-success" role="button">Check your application</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class=" text-center">
            <br />
            <img src="{{ 'assets/images/plugin-forum.png'|theme }}" alt="RainLab.Forum" />
            <div class="caption">
                <h3>Discussion Blog</h3>
                <p>Feel free to share your comments about our service</p>
                <br />
                <p>
                    <a href="{{ 'blog'|page }}" class="btn btn-lg btn-warning" role="button">Write comments</a>
                </p>
            </div>
        </div>
    </div>
</div>