title = "Our Service"
url = "/our-service"
layout = "default"
is_hidden = "0"
==


    	
			<div class="row">
                <h4>&nbsp;</h4>
                <h4 class="style2" style="font-size:14px">The entire process of joining a university can be extremely time-consuming and stressful to say the very least.As a student you are inundated with questions like:</h4>
                <ul >
                    <p>* What Course ?</p> 
                    <p>* Which University ?</p>
                    <p>* Where to stay ?</p>
                    <p>* What grades must I obtain ?</p>
                    <p>* What are the obligations with regards to the parents ?</p>
                    <p>* What Career and what placements may I do after completing ?</p>
                    <p>* Part time jobs ? </p>
                  </ul>
                <p class="style2" style="font-size:14px">&nbsp;</p>
                <p class="style2" style="font-size:14px">At EduMalaysiaBd ,we aim to put your mind at ease and provide a one stop -shop to all your University Application requirements.We will.... </p>
                <h4 style="font-size:18px">&nbsp; </h4>
                <h4 style="font-size:18px">Assist in choosing the correct University </h4>
                <p class="style2" style="font-size:14px">Choice of University depends on many factors</p>
                <p class="style2" style="font-size:14px">1. Grades requirements</p>
                <p class="style2" style="font-size:14px">2. University's ranking </p>
                <p class="style2" style="font-size:14px">3. Courses they offer</p>
                <p class="style2" style="font-size:14px">4. Geographic Location(is it practical for living expenses,commuting to other parts of Britain,etc.)</p>
                <p class="style2" style="font-size:14px">5. The extracurricular activities they offer.</p>
                <p class="style2" style="font-size:14px">6. Population of International students- especially from Kenya just to name a few with first hand knowledge, EduMalysiaBd will give you the necessary guidance on all of the above.     </p>
                <h4>Assist in correct choice of courses </h4>
                <p class="style2" style="font-size:14px">Universities annually change the course curriculams as dictated by the demands of emerging career needs which have future benefits to students.EduMalysiaBd has immediate access to these changes,as and when made before the information can reach the schools or get printed on prospectuses. EduMalysiaBd gived guidance on alternative and/or allied courses as options for when students are unable to meet the requirements for admission to a particular University of Course.Detailed consultation and counselling is provided at the BSB Global Network office at no extra cost. </p>
                <h4 class="style3" style="font-size:18px">Assist in providing relevant realistic and comprehensive information about financial expenses</h4>
				<h4 class="style3" style="font-size:18px">Visa Guidance</h4>
           
                <p class="style2" style="font-size:14px">We will guide and counsel you on all the paperwork required to get your Visas.On getting your student Visa will organize a pre-departure for you to give you a chance to get acquainted with other students going to the same University as yourself !....what more could you ask for ?</p>
                <p class="style2" style="font-size:14px">&nbsp;</p>
				<h4 class="style3" style="font-size:18px">Flight Booking</h4>
				    <p class="style2" style="font-size:14px">At EduMalysiaBd we will assure a one stop service where our sister concerns in Bangladesh will cater for your air ticket arrangement possibly at a student fare</p>
				    <p class="style2" style="font-size:14px">&nbsp; </p>
					<h4 class="style3" style="font-size:18px">Pre-dearture Briefing</h4>
					 <p class="style2"> <span class="style9">A get together for  students leaving for the Malaysia.  Enable students destined for the same university to make contact. Briefing pack  from university can be passed on to students.</span></p>
					 <p class="style2" style="font-size:14px">&nbsp;</p>
			</div>
	