{% for item in items %}

	{% if not item.items %}
    
    	<li role="presentation" class="{{ item.isActive ? 'active' : '' }} {{ item.isChildActive ? 'child-active' : '' 		}} " > <a href="{{ item.url }}">{{ item.title }}</a>
    	</li>
    
    {% else %}
		<li class="dropdown">
          	<a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ item.title }}
          	<span class="caret"></span></a>
          	<ul class="dropdown-menu">
            	{% for item in item.items %}
            		<li>
        				<a href="{{ item.url }}" ><i class="fa fa-plus"></i>{{ item.title }}</a> </li>
				{% endfor %}
          </ul>
        </li>
    {% endif %}
   
{% endfor %}