description = "Default layout"

[session]
security = "all"
redirect = "home"

[staticMenu]
code = "main-menu"

[account]
redirect = "home"
paramCode = "code"
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>eduMalaysiaBd - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="Sopnopriyo">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}" />
        {% styles %}
        <link href="{{ [
           
            'assets/css/bootstrap.min.css',
            'assets/css/font-awesome.min.css',
            'assets/css/animate.css',
            'assets/css/owl.carousel.css',
            'assets/css/owl.theme.css',
            'assets/css/owl.transitions.css',
            'assets/css/creative-brands.css',
            'assets/css/jquery.vegas.min.css',
            'assets/css/magnific-popup.css',
            'assets/css/custom.css',

        ]|theme }}" rel="stylesheet">
    </head>
    <body class ="overlay">


        {% partial "header" %}
 
    
    <!-- ==========================
        TITLE - START 
    =========================== -->
   <div class="container hidden-xs">
    	<div class="header-title">
        	<div class="pull-left">
        		<h2><a href="/"><span class="text-primary">Edu</span>MalaysiaBd</a></h2>
                <p>One stop consultancy service towards the journey of studying and working in Malaysia</p>
            </div>
        </div>
    </div>
    <!-- ==========================
        TITLE - END 
    =========================== -->
    <div class ="container">
        

        
        <div class="jumbotron-panel ">
                
                        <ul class="brands brands-sm brands-inline brands-circle">
                            <li class=""><h4>Like Us on </h4></li>
                            <li><a href="https://www.facebook.com/Students.consultant"><i class="fa fa-facebook"></i></a></li>
                            
                        </ul>

                   
        </div> 

    </div>

        <!-- Content -->
        <section id="layout-content">
            
            <div class="container  ">
               <section class="content-wrapper">
                {% page %}
                </section>
            </div>
            
        </section>

        <!-- Footer -->
        <footer id="layout-footer">
            {% partial "footer" %}
        </footer>

        <!-- Scripts -->
        <script src="{{ [
            'assets/javascript/jquery.js',
            'assets/vendor/bootstrap/js/transition.js',
            'assets/vendor/bootstrap/js/alert.js',
            'assets/vendor/bootstrap/js/button.js',
            'assets/vendor/bootstrap/js/carousel.js',
            'assets/vendor/bootstrap/js/collapse.js',
            'assets/vendor/bootstrap/js/dropdown.js',
            'assets/vendor/bootstrap/js/modal.js',
            'assets/vendor/bootstrap/js/tooltip.js',
            'assets/vendor/bootstrap/js/popover.js',
            'assets/vendor/bootstrap/js/scrollspy.js',
            'assets/vendor/bootstrap/js/tab.js',
            'assets/vendor/bootstrap/js/affix.js',
            'assets/javascript/app.js'
        ]|theme }}"></script>

   <script>
        //set the background variables, in this page as it will not work in the custom.js
        var back1 = "{{'assets/images/background-1.jpg'|theme}}";
        var overlay = "{{'assets/images/overlay.png'|theme}}";
    </script>
    <script type="text/javascript" src="{{ 'assets/js/jquery.vegas.min.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/jquery.countdown.min.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/custom.js'|theme }}"></script>
    
        {% framework extras %}
        {% scripts %}

    </body>
</html>