title = "Blog Post"
url = "/blog/post/:slug"
layout = "default"
description = "Viewing a single blog post"
is_hidden = "0"

[blogPost]
slug = "{{ :slug }}"
categoryPage = "blog/category"

[forumEmbedTopic]
embedCode = ":slug"
channelSlug = "channel-orange"
memberPage = "404"
==
<?php
function onEnd()
{
    $this->page->title = $this->post->title;
}
?>
==

{% component 'blogPost' %}

<hr />
<div class="comments">
{% if user %}
<ol class="commentlist">
    {% component 'forumEmbedTopic' %}
</ol>
{% else %}
    <p>Please <a href="{{ 'account'|page }}">sign in</a> to comment!</p>
{% endif %}
</div>