@import "../../../../../modules/backend/assets/less/core/boot.less";

.blog-post-preview-container .preview-content {
    color: #515c5d;
    font-family: "Helvetica", sans-serif;
    line-height: 180%;

    h1, h2, h3, h4, h5, h6 {
        margin-top: 20px;
        font-weight: bold;
        color:#24acdf;

        &:first-child {
            margin-top: 0;
        }
    }

    *:last-child {
        margin-bottom: 0;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 22px;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 18px;
    }

    p, ol, ul {
        font-size: 14px;
    }

    h1, h2, h3, h4, h5, h6, p, ol, ul {
        margin-bottom: 15px;
    }

    pre.prettyprint {
        border-width: 0;
        padding: 13px 16px;
        .border-radius(3px);
        line-height: 130%;
    }

    img {
        width: 100%;
    }
}