==
    <footer class="navbar navbar-inverse">
        <div class="">
            
            <div class="col-md-7">
                <p class="copyright">© Developed by <a href="https://www.facebook.com/sopnopriyoo">Shahin</a></p>
            </div>
        </div>
    </footer>