<header class="navbar navbar-primary navbar-fixed-top">
    <div class="container">
            <div class="navbar-header">
                <a href="{{ 'home'|page }}" class="navbar-brand visible-xs">EduMalaysiaBd</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-bars"></i></button>
            </div>
            <div class="navbar-collapse collapse">
                        
                        {% component 'staticMenu' %}
                
           <div class="pull-right navbar-buttons hidden-xs" >
                {% if not user %}
                <div class="btn-group navbar-btn">
                  <a href="{{ 'account'|page }}" class ="btn btn-primary">Register</a></li>
                <a href="{{ 'account'|page }}" class ="btn btn-inverse">Login</a></li>
                    
                </div> 
                  
                {% else%}
                    <div class="btn-group navbar-btn">
                            {% partial __SELF__ ~ '::activation_check' %}
                            {% partial __SELF__ ~ '::after_login_top_view' %}
                    </div>
                {% endif%}
                
                     
                </div>
        </div>
    </div>
 </header>
