<div class="layout-row min-size">
    <div class="layout control-toolbar">
        <div class="layout-cell width-fix">
            <div class="toolbar-item">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary oc-icon-plus last"
                        data-control="create-object"
                        > Add New Menu</button>
                    <button type="button" class="btn btn-primary empty oc-icon-trash-o hide"
                        id="<?= $this->getId('delete-button') ?>"
                        data-control="delete-object"
                        data-confirmation="<?= e(trans($this->deleteConfirmation)) ?>"
                        data-trigger-action="show"
                        data-trigger="<?= '#'.$this->getId('menu-list') ?> input[type=checkbox]"
                        data-trigger-condition="checked"></button>
                </div>
            </div>
        </div>
        <div class="layout-cell">
            <div class="relative toolbar-item loading-indicator-container size-input-text">
                <input placeholder="Search for Menu" type="text" name="search" value="<?= e($this->getSearchTerm()) ?>" 
                    class="form-control icon search" autocomplete="off"
                    data-track-input
                    data-load-indicator
                    data-load-indicator-opaque
                    data-request-success="$('<?= '#'.$this->getId('delete-button') ?>').trigger('oc.triggerOn.update')"
                    data-request="<?= $this->getEventHandler('onSearch') ?>"
                />
            </div>
        </div>
    </div>
</div>